<<<<<<< HEAD
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  html {
    font-family: "Times New Roman", Times, Georgia, serif;
    scroll-behavior: smooth;
  }
  body {
    font-family: "Times New Roman", Times, Georgia, serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
  }
}
=======
@import "tailwindcss";
>>>>>>> a36a4ef79b7f03f70de8bd06715e8263e2b669b3
